body {
  margin: 0 5%;
  font-family: Aveny-T-Bold, Aveny-T-Light, DIN-Pro-Bold, DIN-Pro-Medium,
    DIN-Pro-Regular;
  color: #131313;
}

.Contents {
  grid-template-columns: auto;
  display: grid;
  gap: 40px;
  font-family: "DIN-Pro-Regular";
}

.PC {
  background: #fff;
  text-align: center;
}
.PC_Title {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 37px;
  background: #753bbd;
  padding: 100px;
  color: #fff;
  text-align: left;
  font-family: "Aveny-T-Bold";
}
.PC_Tabs {
  width: 80%;
  background: white;
}
.PC-Tab {
  display: block;
  justify-items: center;
}
.PC-Contents {
  width: 100%;
}
@media (max-width: 650px) {
  .PC {
    background: #c4c4c4;
  }
  .PC_Title {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    padding: 0px;
    background: transparent;
    color: #131313;
  }
}

.Tabs {
  display: none;
}
.Tab {
  font-family: "DIN-Pro-Regular";
  background: white;
  padding: 1em;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  color: #131313;
  border: 1px solid #ddd;
}
.Tab:nth-child(2) {
  background: #f3f3f3;
}
.Campuses {
  font-family: "Aveny-T-Bold";
  grid-template-columns: auto auto;
  display: grid;
  gap: 20px;
  color: #131313;
}
.Campus {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
}
.Campus_Content {
  display: grid;
  text-align: left;
  margin: 0em 1em;
  max-height: 75px;
}
.CampusText {
  display: block;
  font-size: 0.8em;
  opacity: 0.7;
}
.CampusText .Reverse {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
}
.CampusName {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.7;
}
.Stock {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
}

.Campus_PCs {
  text-align: left;
  text-transform: uppercase;
  color: #131313;
  padding: 1em;
  max-height: 75px;
  background: #85df81;
}

.Campuses:nth-child(2) .Campus .Campus_PCs {
  background: #df8181;
}

.Campus_Text {
  display: none;
}

.Campus_Text_Reverse {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.Campus_Text_Reverse .CampusText {
  text-transform: lowercase;
  font-weight: normal;
  font-family: "DIN-Pro-Regular";
}
.Campus_Text_Reverse .Stock {
  font-size: 32px;
}

.Campus-Title {
  display: block;
  text-align: left;
  font-weight: bold;
  font-family: "Aveny-T-Bold";
}

@media (max-width: 700px) {
  .CampusContents {
    margin: 6px;
  }
}

@media (max-width: 650px) {
  .Tabs {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    max-width: 300px;
  }
  .Campus-Title {
    display: none;
  }
  .Campuses {
    grid-template-columns: auto;
    gap: 0px;
  }
  .Campus_Content {
    margin: 1em 1em 0px 1em;
  }
  .Campus {
    gap: 0px;
    grid-template-columns: 50% 50%;
    max-height: 75px;
    border-bottom: 8px solid #85df81;
  }
  .Campus:nth-child(2) {
    border-bottom: 8px solid #df8181;
  }
  .Campus:nth-child(3) {
    border-bottom: 8px solid #ffb146;
  }
  .Secondary {
    display: none;
  }
  .Campus_PCs {
    display: block;
    text-align: right;
    background: none;
    padding: 1em 1em 0px 1em;
  }
  .Campus_Text {
    display: block;
  }
  .Campus_Text_Reverse {
    display: none;
  }
}
